/* Surah Grid */
.surah-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}

.surah-item {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--text-light);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.surah-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3), 0 0 15px rgba(85, 197, 122, 0.6);
}

.surah-number-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surah-number-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: rotate(45deg);
    border-radius: 5px;
    z-index: 1;
}

.surah-number {
    position: relative;
    z-index: 2;
    color: var(--background-dark);
    font-weight: bold;
}

.surah-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.surah-title-arabic {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-light);
}

.surah-title-english {
    font-size: 0.9rem;
    color: var(--text-gray);
}

.ayah-count {
    font-size: 0.8rem;
    color: var(--text-gray);
    margin-top: 5px;
}